{
    "enabled": true,
    "jukeboxTitle": "Jukebox",
    "scheduleEnabled": false,
    "schedules": [
        [
            "start": "17:00",
            "end": "21:00"
        ]
    ],
    "lockoutSeconds": 30,
    "lockoutStarts": "play",
    "queueEnabled": false,
    "queueLimit": 5,
    "allowDuplicateQueueSongs": false,
    "backgroundSequence": "",
    "sequences": []
}